openapi: 3.0.1
info:
  title: Vonage Video Archives Captions API
  description: REST API for the Vonage Video platform (formerly OpenTok / TokBox). The Vonage Video Cloud creates and manages real-time video sessions and provides advanced server-side features including archiving (recording), live streaming broadcasts, signaling, moderation, SIP interconnect, live captions, and the Experience Composer render service. Requests are authenticated with a JWT Bearer token generated from your Vonage application credentials.
  termsOfService: https://www.vonage.com/legal/communications-apis/terms-of-use/
  contact:
    name: Vonage Video API Support
    url: https://api.support.vonage.com/hc/en-us
  version: '2.0'
servers:
- url: https://video.api.vonage.com/v2
  description: Vonage Video Cloud REST API
security:
- bearerAuth: []
tags:
- name: Captions
  description: Start and stop real-time live captions.
paths:
  /project/{applicationId}/captions/{captionsId}/start:
    post:
      operationId: startCaptions
      tags:
      - Captions
      summary: Start live captions
      parameters:
      - $ref: '#/components/parameters/ApplicationId'
      - name: captionsId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartCaptionsRequest'
      responses:
        '202':
          description: Captions started.
  /project/{applicationId}/captions/{captionsId}/stop:
    post:
      operationId: stopCaptions
      tags:
      - Captions
      summary: Stop live captions
      parameters:
      - $ref: '#/components/parameters/ApplicationId'
      - name: captionsId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Captions stopped.
components:
  schemas:
    StartCaptionsRequest:
      type: object
      required:
      - sessionId
      - token
      properties:
        sessionId:
          type: string
        token:
          type: string
        languageCode:
          type: string
          default: en-US
        maxDuration:
          type: integer
          default: 14400
        partialCaptions:
          type: boolean
        statusCallbackUrl:
          type: string
  parameters:
    ApplicationId:
      name: applicationId
      in: path
      required: true
      description: The Vonage application ID (formerly OpenTok API key).
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: A JWT generated from your Vonage application's private key and application ID, sent in the Authorization header.
